[class^= "paragraf"] {
  width: 100px;
  height: 100px;
}

.paragraf{
    background-color: red;
}

.paragraf1{
    background-color: blue;
}

.paragraf2{
    background-color: red;
    opacity: 0.5;  
}
